<header class="header-7">
  <div class="branding">
      <a href="#" class="nav-link">
          <span class="title">The Arxivum project</span>
      </a>
  </div>
  <div class="header-nav">

  </div>
  <div class="header-actions">
    <a href="https://www.github.com/bertofer/arxivum-web" target="_blank" class="nav-link">
      <i class="fab fa-github"></i>
      <span>Frontend</span>
    </a>
    <a href="https://www.github.com/bertofer/arxivum-api" target="_blank" class="nav-link">
      <i class="fab fa-github"></i>
      <span>Backend</span>
    </a>
  </div>
</header>
