<div class="features">
  <div class='section-title'><strong>Features</strong></div>
  <div>
    <div class='feat feat-1'>
      <img src='../../assets/009-network.png' />
      <div class='feat-text'>
          <h2>Decentralized</h2>
          <p>The downloads use Webtorrent to create a peer to peer network that reduces server load and increases user speeds </p>
      </div>
    </div>
    <div class='feat feat-2'>
        <div class='feat-text'>
          <h2>Invite friends</h2>
          <p>Registration system based on invitations, only who you invite can register in the platform</p>
        </div>
      <img src='../../assets/007-users.png' />
    </div>
    <div class='feat feat-3'>
      <img src='../../assets/004-streaming.png' />
      <div class='feat-text'>
          <h2>Stream multimedia</h2>
          <p>You can stream multimedia files before they are completely downloaded</p>
      </div>
    </div>
  </div>
</div>
