.tech-logos {
  height: 350px;
  /* background-color: #e8e8e857; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tech-logos img {
  max-height: 200px;
}
