<div class="technologies">
  <div class='section-title'><strong>Technologies</strong></div>
  <div class='tech-logos'>
    <a href='https://webtorrent.io' target="_blank"><img src="../../assets/wt-logo.png" /></a>
    <a href='https://angular.io' target="_blank"><img src="../../assets/angular-logo.png" /></a>
    <a href='http://koajs.com' target="_blank"><img src="../../assets/koa-logo.png" /></a>
    <a href='https://www.mongodb.com' target="_blank"><img src="../../assets/mongo-logo.png" /></a>
  </div>
</div>
